@import url('https://fonts.googleapis.com/css2?family=Orelega+One&family=Rubik+Mono+One&display=swap');
body{
    font-size: 24px;
    background: url("../img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    cursor: url("../img/cursor.png"), default;
}
.wrapper{
    width: 1300px;
    margin: 0 auto;
}
.header{
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 23px;
    margin-top: 40px;
    text-align: center;
}
.logo{
    width: 50%;
}
.nav-link{
    color: white;
    text-decoration: none;
    margin-left: 29px;
}
.nav-link:hover{
    color: #5a0212;
}
.footer{
    text-align: center;
    color: white;
}
.history-wrapper{
    height: 450px;
    opacity: 0.8;
    border-radius: 10px;
    background-color: white;
    margin-top: 80px;
    display: flex;
    flex-direction: row;
}
.history-wrapper p{
    margin-left: 10px;
}
.text-p{
    padding: 0 10px;
}
